body{
    margin: 0;
    min-height: 100vh;
    font-family: Roboto;

}

@font-face {
    font-family: RobotoI;
    src: url('/static/fonts/RobotoItalicVRF.ttf');
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url('/static/fonts/RobotoVRF.ttf');
    font-style: normal;
}

h1 {
    color:red;
}

.begrip_voorkeursterm{
    font-size: 27px;
    font-weight: bold;
}

.navbar{
    background-color: #CFE2F3;
    display: flex;

    justify-content: space-between;
     align-items: center;
    padding: 0 20px;
    border-bottom: 2px black solid;
    height: 60px
}

.navbar a {
    font-size:22px;
    color: black;
    text-decoration: none;
}

.content{
    min-height: calc(100vh - 60px);
    /*display: flex;*/
    /*justify-content: center;*/
}

.begrippagina{
    width: 80%;
    max-width: 1500px;
    margin: 25px auto;
}

.begrip_tekst{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px black solid;
    padding: 10px 20px;

}

.begrip-header h1 {
    margin: 0;
    font-size: 36px;
}

.begrip_datum_en_status {
    display: flex;
    gap: 10px;
    font-size: 18px;
}



.begrip_behoort_tot_begrippenkader {
    margin: 20px 50px 8px;
    font-size: 17px;
}

.link_naam_begrippenkader a {
    color: black;
    font-style: italic;
    text-decoration: underline;
}



.alternatieve_termen {
    margin: 0 50px;
    padding: 10px;

    border: 1px solid #999;
    background-color: #eeeeee;
}



.begrip_informatie {
    margin: 15px 60px;

}

.informatie_regel {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.informatie_label {

    color: black;

    padding: 2px 4px;
    margin-right: 4px;
}

.informatie_tekst{
    color: #000000
}



.extra_informatie {
    margin: 15px 50px;
    border: 1px solid #777;
    padding: 8px;

    font-size: 18px;
}

.extra_informatie div {
    margin: 8px 0;
}

.lijs_alternatieve_termen{
    display: flex;
    gap: 10px;
    font-style: italic;
}

.informatie_regel {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: start;

    margin-bottom: 20px;
}



.informatie_regel input,
.informatie_regel textarea,
.informatie_regel select {
    width: 100%;
    box-sizing: border-box;
}