<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="static/css/aanmaken.css" rel="stylesheet" type="text/css" />
        <title>Begrip aanmaken</title>
    </head>
    <body>

    <nav class="navbar">
        <a>Menu</a>
        <a href="/">Home ↗</a>
        <a href="/zoeken">Zoeken ↗</a>
        <a>Gebruiker opties</a>

    </nav>

    <main class="begripaanmakenpagina">

        <section class="voorkeurs_term_invulveld">

            <input
                    id="voorkeurs_term"
                    type="text"
                    placeholder="Typ voorkeursterm"
                    autocomplete="off"
                    onfocusout="controleerVoorkeursterm()">

                <button id="begrip_toevoegen">Begrip toevoegen</button>

        </section>



        <p class="begrippenkader_lijst">
            Behoort tot begrippenkader:
            <select id="naam_begrippenkader" class="informatie_tekst_select">
                    <option value="actief">Actief</option>
                </select>
        </p>

        <div class="alternatieve_termen">
            <textarea id="alternatieve_termen" class="informatie_tekst" type="text" placeholder="Gebruik komma voor scheiden alternatieve termen: term1, term2, term3, ..." autocomplete="off"></textarea>
        </div>

        <section class="begrip_informatie_formulier">

            <div class="informatie_regel">
                <span class="informatie_label">Definitie:</span>
                <textarea id="definitie_begrip" class="informatie_tekst" type="text" placeholder="Definitie" autocomplete="off"></textarea>
            </div>

            <div class="informatie_regel">
                <span class="informatie_label">Toelichting:</span>
                <textarea id="toelichting_begrip" class="informatie_tekst" type="text" placeholder="Toelichting" autocomplete="off"></textarea>
            </div>

            <div class="informatie_regel">
                <span class="informatie_label">Voorbeeld:</span>
                <textarea id="voorbeeld_begrip" class="informatie_tekst" type="text" placeholder="Voorbeeld" autocomplete="off"></textarea>
            </div>

            <div class="informatie_regel">
                <span class="informatie_label">Heeft bron:</span>
                <textarea id="heeft_bron" class="informatie_tekst" type="text" placeholder="Bron" autocomplete="off"></textarea>
            </div>

        </section>

        <section class="extra_informatie">
            <div class="informatie_regel">
                <span class="informatie_label">Status:</span>
                <select id="status" class="informatie_tekst_select">
                    <option value="actief">Actief</option>
                </select>
            </div>

            <div class="informatie_regel">
                <span class="informatie_label">Vervalt op:</span>
                <input id="vervalt_op" class="informatie_tekst_vervalt_op" type="text" placeholder="Vervalt op" autocomplete="off">
            </div>
            <div class="informatie_regel">
                <span class="informatie_label">Begrip code:</span>
                <select id="begrip_code" class="informatie_tekst_select">
                    <option value="actief">Actief</option>
                </select>
            </div>

            <div class="informatie_regel">
                <span class="informatie_label">Door functie:</span>
                <select id="aangemaakt_door_functie" class="informatie_tekst_select">
                    <option value="actief">Actief</option>
                </select>
            </div>
        </section>

    </main>

    <script src="static//js//scriptBegripAanmaken.js" defer></script>
    </body>
</html>