    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="static/css/styles.css" rel="stylesheet" type="text/css" />
        <title>Begrippenkader</title>
    </head>
    <body>

    <nav class="navbar">
        <a>Menu</a>
        <a href="/">Home ↗</a>
        <a href="/zoeken">Zoeken ↗</a>
        <a>Gebruiker opties</a>

    </nav>

    <main class="content">
        <div class="container">
            <div class="tekstallebegrippen">
                <div id="naam_begrippenkader" >
                    <p></p>
                </div>
                <div id="informatie_over_kader" class="informatie">
                    <p>T</p>
                </div>


            </div>



            <div class="informatiebegrippenkader">
                <p id="begrippenkader_status">Status:</p>
                <p id="begrippenkader_aangemaakt_op">Aangemaakt:</p>
                <p id="begrippenkader_gewijzigd_op">Gewijzigd:</p>
            </div>

            <div class="knoppen">
                <a id="link_aanmaken_begrip" href="/begripaanmaken">
                    <button>Begrip toevoegen</button>
                </a>
            </div>
        </div>

        <!-- Moet aperte class maken, heir komen alle berippen in rijen te staan-->
        <div id="begrippenrooster" class="begrippenrooster">

        </div>
    </main>

    <script src="static//js//scriptBegrippenkader.js" defer></script>
    </body>
    </html>