        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <link href="static/css/styles.css" rel="stylesheet" type="text/css" />
            <title>Title</title>
        </head>
        <body>

        <nav class="navbar">
            <a>Menu</a>
            <a href="/">Home ↗</a>
            <a href="/zoeken">Zoeken ↗</a>
            <a>Gebruiker opties</a>

        </nav>

        <main class="container">
<!--            <div class="container">-->

                <div class="knoppen_en_tekst_container">
                    <div class="tekstallebegrippen1">
                        <p>Alle begrippen</p>
                    </div>

                    <div class="knoppen">
                        <a href="/begrippenkaderaanmaken">
                            <button>Begrippenkader aanmaken</button>
                        </a>

                        <a href="/begripaanmaken">
                            <button>Begrip toevoegen</button>
                        </a>
    <!--                    <a href="/begripaanmaken">-->
    <!--                        <button>Begrip toevoegen</button>-->
    <!--                    </a>-->
                    </div>
                </div>
<!--                <div class="knoppen">-->
<!--                    -->
<!--                </div>-->
<!--            </div>-->

            <div id="begrippenrooster" class="begrippenrooster">

            </div>
        </main>

        <script src="static/js/scriptHome.js" defer></script>
        </body>
        </html>